body {
    margin: 0;
    height: 100%;
    overflow: visible;
}

#my-object {
    height: 100vh;
    width: 100%;
    display: grid;
    overflow: visible;
}

.styled-table {
    border: 1px;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #69b4e3;
}

td.fitwidth {
    width: 1px;
    white-space: nowrap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #202020;
}

p {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
}

td, th {
    border-top: 1px solid #ECF0F1;
    padding: 10px;
}

td {
    border-left: 1px solid #ECF0F1;
    border-right: 1px solid #ECF0F1;
}

th {
    background-color: #5298ce;
}

tr:nth-of-type(even) td {
    background-color: #f6f6f6;
}


#myInput {
    background-image: url('https://www.w3schools.com/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: -10px; /* Add some space below the input */
}
